<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscripción en Curso</title>
</head>
<body>
    <h1>Inscripción en Curso</h1>
    <form action="{{ url_for('inscripcion_curso') }}" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required><br>
        
        <label for="apellidos">Apellidos:</label>
        <input type="text" name="apellidos" required><br>
        
        <label for="curso">Curso:</label>
        <select name="curso" required>
            <option value="programacion">programacion</option>
            <option value="Calculo">calculo</option>
            <option value="fisica">ficisa</option>
            <option value="matematicas">matematicas</option>
        </select><br>
        
        <input type="submit" value="Enviar">
    </form>
</body>
</html>